.main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 45px;
    background-color: #202020;
}

@media only screen and (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

.description {
    padding: 25px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.subheading {
    font-size: 2.5em;
}

.body {
    font-size: 1.2em;
}

.play {
    padding: 20px 40px;
    margin-top: 15px;
    font-size: 2em;
    color: #FBD46D;
    border-radius: 15px;
    background-color: #171717;
    border: none;
}