.screenshots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    padding: 25px;
    background-color: #202020;
}

@media only screen and (max-width: 768px) {
    .screenshots {
        grid-template-columns: 1fr;
    }
}

.screenshots__image {
    object-fit: cover;
    width: 100;
}
